doctype html
html(ng-app="app")
	head
		base(href="/")
		title menu

		// files injected via "gulp inject" come from bower
		// bower:css
		// endinject

		// files injected via "gulp inject" come from our own
		// own:css
		// endinject

	body

		.view(ui-view)


		// files injected via "gulp inject" come from bower
		// bower:js
		// endinject

		// files injected via "gulp inject" come from our own
		// own:js
		// endinject