#om_menu
	.menu_name {{menu.name}}
	.menu_content
		div(ng-repeat="group in menu.groups") 
			h2 {{ group.name }}
			dl
				dt.pepper_(ng-if="!item.hide", ng-repeat-start="item in group.items") 
					span.item_tag.special(ng-if="item.special") Special
					span {{ item.name }}
				dd.price(ng-if="!item.hide && !item.hidePrice") {{ item.price }}
				dd.description(ng-if="!item.hide", ng-repeat-end="") {{ item.description }}