.menu-edit-group
  margin-left: 10px
  margin-top: 2px
  margin-bottom: 2px

.menu-edit-group-name
  margin-top: 2px
  margin-bottom: 2px

.menu-edit-item-name
  width: 350px !important

.menu-edit-item-description
  width: 500px !important
  
.menu-edit-item-price
  width: 70px !important
  
.add-item-button
  margin-left: 10px

// menu stuff
.om_list_rest
  font-weight bold

.om_list_location
  font-size .9em
  opacity 0.75

#openmenu
  margin-bottom 10px
  .clear
    clear both
  small
    font-size .9em

#om_restaurant
  margin-bottom 20px
  #rest_name
    font-weight bold
    font-size 1.1em
  #locationmap
    width 349px
    height 300px
  #location-map
    float right
    border 1px solid #a78112
    padding 3px
    margin-left 5px
    background #f6de98 no-repeat url('../images/map_error.png') center center
  p
    margin-bottom 5px
  #details
    margin-top 15px

#om_menu
  background-color #fff
  font-size .9em
  padding 5px
  .sm_norm
    font-weight normal
    font-size .8em
  .full-menu
    padding 5px
  .left-menu
    float left
    width 48%
    padding 0
  .right-menu
    float right
    width 46%
    padding 0 0 0 15px
    margin 0 0 0 20px
    border-left 1px solid #8FACBF
  .menu_content
    padding 5px
    margin-bottom 5px
    h2
      color #131618
      font-family Georgia, "Times New Roman", Times, serif
      font-style italic
      margin-top 0
      font-size 1.3em
      margin-bottom 5px
  #details
    margin-top 15px
  dd
    margin 0
    &.price
      color #406F0D
      background-color #fff
      font-weight normal
      font-size 15px
      float right
      padding-left 5px
    &.description
      color #7D898F
      font-size 14px
      font-style italic
      font-weight normal
      line-height 20px
      float left
      width 100%
      padding 3px 0 0 0
    &.sizes
      font-size 1.1em
      font-weight normal
      float left
      width 100%
      text-align left
      span
        padding-right 15px
    &.item_options
      font-size 1.1em
      font-weight normal
      float left
      width 100%
      text-align center
      div
        padding-bottom 3px
  dl
    display block
    overflow auto
    margin 0 0 0.7em 10px
    background url('../images/menu_dot.gif') repeat-x 0 14px
    .mi_thumb
      float left
      padding-right 5px
    &.disabled
      display none
  dt
    background-color #fff
    color #4D595F
    font-size 16px
    font-weight normal
    float left
    padding-right 5px
    &.pepper_1
      background #fff url('../images/peppers-1.png') no-repeat 0 0
      padding-left 22px
    &.pepper_2
      background #fff url('../images/peppers-2.png') no-repeat 0 0
      padding-left 32px
    &.pepper_3
      background #fff url('../images/peppers-3.png') no-repeat 0 0
      padding-left 48px
    &.pepper_4
      background #fff url('../images/peppers-4.png') no-repeat 0 0
      padding-left 60px
    &.pepper_5
      background #fff url('../images/peppers-5.png') no-repeat 0 0
      padding-left 74px
  span
    &.item_tag
      color #f1f1f1
      font-size 11px
      font-weight bold
      padding 1px 3px 0
      position relative
      text-transform uppercase
      top -2px
      margin-right 5px
    &.special
      background #579F09
    &.new
      background #EF1E0E
    &.separator
      display block
      height 26px
      margin 5px 0
    &.big
      background url('../images/menu_big_separator_red.png') no-repeat top center
    &.small
      background url('../images/menu_sm_separator.png') no-repeat top center
  .menu_name
    font-weight bold
    font-size 1.3em
    margin-bottom 5px
    padding-left 22px
    display none
    background transparent no-repeat url('../images/ico-16-menu.png') 0 5px
  .goptions
    font-size .9em
    text-align center
    padding 5px 0
  .goptions-title
    font-size 1em
    font-weight bold
    padding-bottom 3px
  .goptions-desc
    font-weight normal
    font-size .9em
    color #777

#om_menu dt, #openmenu dd.price
  font-size 1em
  font-weight bold

#om_menu span.vegetarian, #om_menu span.vegan, #om_menu span.kosher, #om_menu span.halal
  background #816554

.om_tag
  font-size .75em
  color #00f
  text-align center
  display none

*:first-child
  & + html
    #om_menu
      dl
        overflow visible

